.connectBox {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.connectBox button {
    border 1px solid ##00B37E;
}

.connectItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #1a1a1a;
    padding: 16px 24px; 

    border-radius: 12px;
    margin-bottom: 8px;
}

.headerRegister {
    padding: 0px 24px;
}

.headerRegister p {
    margin-top: 20px;
    color: #A9A9B2;
    margin-bottom: 20px;
}

.step p {
    color: #505059;
}

.containerVoidDiv {
    display: flex;
    gap: 20px;
    
}

.voidDiv {
    background: white;
    height: 2px;
    width: 450px;
}

.intervalBox {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.intervalsContainer {
    border: 1px solid #767676;
    border-radius: 4px;
    margin-bottom: 16px;
}

.intervalItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

.intervalItem & + & {
    border-top: 1px solid #767676;
}

.intervalDay {
    display: flex;
    align-items: center;
    gap: 12px;
}

.intervalInputs {
    display: flex;
    align-items: center;
    gap: 8px;
}

.intervalInputs input::-webkit-calendar-pick-indicator {
    filter: invert(100%) brightness(30%) saturate(0%);
}

.FormError {
    color: #f75a68;
    marginBottom: 16px;
}